@font-face {
  font-family: "iconfont";
  src: url("./../fonts/iconfont.woff2") format("woff2"), url("./../fonts/iconfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before,
[class*=" _icon-"]::before,
[class^=_icon-]::after,
[class*=" _icon-"]::after {
  font-family: "iconfont";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-back-arrow:before {
  content: "\e900";
}

._icon-telegram:before {
  content: "\e901";
}

._icon-data-left:before {
  content: "\e902";
}

._icon-data-right::after {
  content: "\e903";
}

@font-face {
  font-display: swap;
  font-family: "Gilroy";
  src: url("./../fonts/Gilroy-Regular.woff2") format("woff2"), url("./../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Gilroy";
  src: url("./../fonts/Gilroy-Bold.woff2") format("woff2"), url("./../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Century Gothic", sans-serif;
  background: #e1e8f4;
}

.wrapper {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.container-blog {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.telegram {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  padding-left: 25px;
  color: #6e85ab;
  transition: all 0.3s ease 0s;
}
.telegram::before {
  position: absolute;
  top: 4px;
  left: 0;
  font-size: 13px;
}
.telegram:hover {
  color: #151f2d;
}

.subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  padding: 8px 16px;
  background: #fff;
  border-radius: 12px;
  color: #151f2d;
}

.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: #151f2d;
  padding: 10px 16px;
  border: 1px solid #151f2d;
  border-radius: 16px;
}

.header {
  margin-bottom: 45px;
}
.header__row {
  display: flex;
  align-items: center;
}
.header__nav {
  margin-left: 56px;
}
.header__nav-list {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.header__item:last-child {
  margin-left: 40px;
}
.header__link {
  color: #6e85ab;
  transition: all 0.3s ease 0s;
}
.header__link:hover {
  color: #151f2d;
}
.header__subscribe-list {
  display: flex;
  margin-left: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
}
.header__burger {
  display: none;
  width: 30px;
  height: 18px;
  cursor: pointer;
  background-color: transparent;
  position: relative;
}
.header__burger:hover::before, .header__burger:hover::after,
.header__burger:hover span {
  background-color: #6e85ab;
}
.header__burger::before, .header__burger::after,
.header__burger span {
  content: "";
  height: 1.8px;
  width: 100%;
  background-color: #000;
  border-radius: 0.9px;
  transition: all 0.3s ease 0s;
  position: absolute;
  left: 0;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger span {
  top: 50%;
  transform: scale(1) translate(0, -50%);
}
.header__burger.active::before {
  top: calc(50% - 1px);
  transform: rotate(-45deg) translate(0, -50%);
}
.header__burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
.header__burger.active span {
  transform: scale(0) translate(0, -50%);
}
@media (max-width: 767px) {
  .header .header__row {
    justify-content: space-between;
  }
  .header .header__nav {
    display: none;
  }
  .header .header__subscribe-list {
    display: none;
  }
  .header .header__burger {
    display: block;
  }
}
.page {
  flex: 1 1 auto;
}
.page__start {
  margin-bottom: 47px;
}
.page__tickets {
  margin-bottom: 56px;
}
.page__statistics {
  margin-bottom: 56px;
}
.page__completed {
  margin-bottom: 56px;
}

.start__row {
  display: flex;
}
.start__body {
  flex: 1 1 auto;
  padding: 0 54px 0 0;
}
.start__subheading {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #151f2d;
}
.start__heading {
  font-weight: 700;
  font-size: 140px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #151f2d;
  margin-bottom: 16px;
}
.start__text {
  font-size: 28px;
  line-height: 143%;
  color: #151f2d;
  max-width: 599px;
  margin-bottom: 32px;
}
.start__subscribe {
  padding: 16px 24px;
  border-radius: 20px;
}
.start__wrap-image {
  position: relative;
  flex: 0 0 518px;
}
.start__wrap-image::before {
  content: "";
  position: absolute;
  top: 70px;
  left: -350px;
  width: 511px;
  height: 508px;
  background: url("./../img/light.png") 0 0/contain no-repeat;
}
.start__wrap-image::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -70px;
  width: 706px;
  height: 178px;
  z-index: -1;
  background: url("./../img/shadow.png") 0 0/contain no-repeat;
}
.start__image {
  max-width: 100%;
}

@media (max-width: 1335px) {
  .start__heading {
    font-size: 113px;
  }
  .start__wrap-image {
    flex: 0 0 418px;
  }
  .start__wrap-image::before {
    top: 60px;
    left: -390px;
  }
}
@media (max-width: 1023px) {
  .start__heading {
    font-size: 100px;
  }
  .start__subheading {
    font-size: 40px;
  }
  .start__text {
    font-size: 20px;
  }
  .start__wrap-picture {
    flex: 0 0 318px;
  }
}
@media (max-width: 767px) {
  .start__row {
    flex-direction: column;
  }
  .start__body {
    padding: 0;
  }
  .start__subheading {
    text-align: center;
    font-size: 20px;
  }
  .start__heading {
    text-align: center;
    font-size: 60px;
  }
  .start__text {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .start__wrap-subscribe {
    text-align: center;
    margin-bottom: 30px;
  }
  .start__wrap-image {
    display: none;
  }
}
.tickets__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}
.tickets__column {
  padding: 16px;
  flex: 0 1 33.3334%;
}
.tickets__item {
  padding: 24px;
  background: #fff;
  border-radius: 24px;
  transition: all 0.3s ease 0s;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tickets__item:hover {
  box-shadow: 0px 4px 15px rgba(110, 133, 171, 0.15);
}
.tickets__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 121%;
  color: #151f2d;
  margin-bottom: 16px;
}
.tickets__stack {
  display: flex;
  flex-wrap: wrap;
  margin: -4px -4px;
  margin-bottom: 24px;
}
.tickets__point {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: #38b5cf;
  padding: 5px 13.5px;
  border: 1px solid #38b5cf;
  border-radius: 87.7854px;
  margin: 2px;
}
.tickets__point:nth-child(1) {
  margin-left: 0;
}
.tickets__data-list {
  flex: 1 1 auto;
  margin-bottom: 24px;
}
.tickets__data-point {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #151f2d;
}
.tickets__data-info {
  font-size: 14px;
  line-height: 143%;
  color: #6e85ab;
}
.tickets__wrap-company {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tickets__name-company {
  position: relative;
  padding-left: 52px;
}
.tickets__name-company::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 40px;
  height: 40px;
  background: url("./../img/vk.png") 0 0/contain no-repeat;
}
.tickets__item-shadow {
  padding: 24px 0 0 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 24px;
}
.tickets__title-shadow {
  font-weight: 700;
  font-size: 28px;
  line-height: 121%;
  margin: 0 auto;
  text-align: center;
  max-width: 239px;
  color: rgba(110, 133, 171, 0.5);
  margin-bottom: 16px;
}
.tickets__wrap-img-load {
  text-align: center;
}
.tickets__wrap-cartoon {
  text-align: right;
  margin-top: -30px;
}
@media (max-width: 1023px) {
  .tickets__row {
    justify-content: center;
  }
  .tickets__column {
    flex: 0 1 45%;
  }
  .tickets__item-shadow {
    display: none;
  }
}
@media (max-width: 767px) {
  .tickets__column {
    flex: 0 1 80%;
  }
}
@media (max-width: 425px) {
  .tickets__wrap-company {
    flex-direction: column;
  }
  .tickets__name-company {
    margin-right: auto;
    margin-bottom: 50px;
  }
}
.statistics__subheading {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 121%;
  color: #fff;
  text-shadow: 0px 4px 6px rgba(110, 133, 171, 0.1);
  margin-bottom: 24px;
}
.statistics__row {
  display: flex;
  align-items: center;
}
.statistics__column {
  flex: 0 1 33.3334%;
}
.statistics__wrap-event {
  padding: 0 64px;
  display: flex;
}
.statistics__number {
  font-weight: 700;
  font-size: 140px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 4px 10px rgba(110, 133, 171, 0.1);
}
.statistics__event {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #fff;
  text-shadow: 0px 4px 6px rgba(110, 133, 171, 0.1);
  width: 150px;
  padding: 50px 0 0 16px;
}
.statistics__wrap-biz {
  padding: 0 64px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  display: flex;
}
.statistics__biz {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #fff;
  text-shadow: 0px 4px 6px rgba(110, 133, 171, 0.1);
  width: 150px;
  padding: 30px 0 0 16px;
}
.statistics__wrap-top {
  display: flex;
  margin-left: 60px;
}
.statistics__list {
  padding: 16px 68px 16px 16px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(110, 133, 171, 0.1);
  border-radius: 24px;
}
.statistics__company-item {
  margin-bottom: 8px;
}
.statistics__company-item:last-child {
  margin-bottom: 0;
}
.statistics__company {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.statistics__span {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: rgba(21, 31, 45, 0.96);
  margin-left: 8px;
}
.statistics__text-top {
  padding: 28px 40.5px 28px 16px;
  width: 127px;
  font-weight: 700;
  font-size: 24px;
  line-height: 132%;
  color: #fff;
  text-shadow: 0px 4px 6px rgba(110, 133, 171, 0.1);
}

@media (max-width: 1335px) {
  .statistics__wrap-event {
    padding: 0 30px;
  }
  .statistics__number {
    font-size: 100px;
  }
  .statistics__event {
    font-size: 20px;
    padding: 30px 0 0 10px;
  }
  .statistics__wrap-biz {
    font-size: 20px;
    padding: 0 30px;
  }
  .statistics__biz {
    width: 140px;
    font-size: 20px;
    padding: 15px 0 0 10px;
  }
  .statistics__wrap-top {
    margin-left: 30px;
  }
  .statistics__list {
    padding: 13px 65px 13px 13px;
  }
  .statistics__text-top {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .statistics__subheading {
    margin-bottom: 15px;
  }
  .statistics__row {
    flex-direction: column;
  }
  .statistics__wrap-event {
    margin-bottom: 50px;
  }
  .statistics__wrap-biz {
    border-left: 0;
    border-right: 0;
    margin-bottom: 50px;
  }
  .statistics__list {
    padding: 13px 28px 13px 13px;
  }
}
.completed .completed__row-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.completed .completed__subheading {
  position: relative;
  font-weight: 700;
  font-size: 28px;
  line-height: 143%;
  color: #151f2d;
  padding-right: 80px;
}
.completed .completed__subheading::before {
  position: absolute;
  top: 10px;
  right: 40px;
  font-size: 22px;
}
.completed .completed__subheading::after {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 22px;
}
.completed .completed__list-data {
  display: flex;
}
.completed .completed__left {
  position: relative;
}
.completed .completed__left::before {
  position: absolute;
  top: 4px;
  left: 0;
  font-size: 16px;
}
.completed .completed__month {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #151f2d;
  padding: 0 30px;
}
.completed .completed__rigth {
  position: relative;
}
.completed .completed__rigth::after {
  position: absolute;
  top: 4px;
  right: 0;
  font-size: 16px;
}
.completed .completed__year {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #6e85ab;
  margin-left: 20px;
}
.completed__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}
.completed__column {
  padding: 16px;
  flex: 0 1 33.3334%;
}
.completed__item {
  padding: 24px;
  background: #fff;
  border-radius: 24px;
  transition: all 0.3s ease 0s;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.completed__item:hover {
  box-shadow: 0px 4px 15px rgba(110, 133, 171, 0.15);
}
.completed__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 121%;
  color: #6e85ab;
  margin-bottom: 16px;
}
.completed__stack {
  display: flex;
  flex-wrap: wrap;
  margin: -4px -4px;
  margin-bottom: 24px;
}
.completed__point {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: #6e85ab;
  padding: 5px 13.5px;
  border: 1px solid #6e85ab;
  border-radius: 87.7854px;
  margin: 2px;
}
.completed__point:nth-child(1) {
  margin-left: 0;
}
.completed__data-list {
  flex: 1 1 auto;
  margin-bottom: 24px;
}
.completed__data-point {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #6e85ab;
}
.completed__data-info {
  font-size: 14px;
  line-height: 143%;
  color: #6e85ab;
}
.completed__wrap-company {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.completed__name-company {
  position: relative;
  color: #6e85ab;
  padding-left: 52px;
}
.completed__name-company::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 40px;
  height: 40px;
  background: url("./../img/yan-last.png") 0 0/contain no-repeat;
}

@media (max-width: 1023px) {
  .completed__row {
    justify-content: center;
  }
  .completed__column {
    flex: 0 1 45%;
  }
}
@media (max-width: 767px) {
  .completed__row-data {
    flex-direction: column;
  }
  .completed__subheading {
    margin-bottom: 20px;
  }
  .completed__column {
    flex: 0 1 80%;
  }
}
@media (max-width: 425px) {
  .completed__wrap-company {
    flex-direction: column;
  }
  .completed__name-company {
    margin-right: auto;
    margin-bottom: 50px;
  }
}
.blog-list {
  padding: 3px 0 48px;
}
.blog-list__wrap-blog {
  padding: 24px 0 24px 24px;
  background-color: #fff;
  border-radius: 24px;
  margin-bottom: 16px;
}
.blog-list__wrap-blog:hover {
  box-shadow: 0px 4px 15px rgba(110, 133, 171, 0.15);
}
.blog-list__wrap-blog:last-child {
  margin-bottom: 0;
}
.blog-list__row {
  display: flex;
}
.blog-list__wrap-image {
  flex: 0 0 349px;
  height: 250px;
}
.blog-list__image {
  max-width: 100%;
  border-radius: 24px;
}
.blog-list__body {
  margin: 0 24px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.blog-list__subheading {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #151f2d;
  margin-bottom: 8px;
}
.blog-list__text {
  font-size: 14px;
  line-height: 143%;
  flex: 1 1 auto;
  color: #151f2d;
}
.blog-list__wrap-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-list__more {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: #151f2d;
  border: 1px solid #151f2d;
  border-radius: 16px;
  padding: 10px 16px;
}
.blog-list__data-post {
  font-size: 14px;
  line-height: 143%;
  color: #6e85ab;
}

@media (max-width: 767px) {
  .blog-list__wrap-blog {
    text-align: center;
    padding-right: 24px;
  }
  .blog-list__row {
    flex-direction: column;
  }
  .blog-list__text {
    margin-bottom: 20px;
  }
  .blog-list__more {
    text-align: center;
    margin: 0 auto;
  }
  .blog-list__data-post {
    display: none;
  }
}
@media (max-width: 767px) {
  .blog-list__wrap-blog {
    text-align: center;
    padding: 5px;
  }
  .blog-list__row {
    flex-direction: column;
  }
  .blog-list__text {
    margin-bottom: 20px;
  }
  .blog-list__more {
    text-align: center;
    margin: 0 auto;
  }
  .blog-list__data-post {
    display: none;
  }
}
.blog {
  padding: 3px 0 48px;
}
.blog__wrap-back {
  margin-bottom: 24px;
}
.blog__back {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  padding-left: 20px;
  color: #6e85ab;
}
.blog__back::before {
  position: absolute;
  top: 1px;
  left: 0;
  font-size: 16px;
}
.blog__body {
  padding: 32px 48px;
  border-radius: 24px;
  background-color: #fff;
}
.blog__subheading {
  font-weight: 700;
  font-size: 28px;
  line-height: 121%;
  color: #151f2d;
  margin-bottom: 16px;
}
.blog__title {
  font-size: 14px;
  line-height: 143%;
  color: #151f2d;
  margin-bottom: 16px;
}
.blog__wrap-img {
  margin-bottom: 32px;
  max-width: 800px;
}
.blog__img {
  max-width: 100%;
  border-radius: 16px;
}
.blog__text {
  margin-bottom: 32px;
}

@media (max-width: 1023px) {
  .blog__body {
    padding: 12px 28px;
  }
}
.footer__row {
  display: flex;
  align-items: center;
}
.footer__nav {
  margin-left: 56px;
}
.footer__nav-list {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.footer__item {
  margin-left: 40px;
}
.footer__item:nth-child(1) {
  margin-left: 0;
}
.footer__link {
  color: #6e85ab;
  color: #6e85ab;
  transition: all 0.3s ease 0s;
}
.footer__link:hover {
  color: #151f2d;
}
.footer__subscribe-list {
  display: flex;
  margin-left: auto;
}
@media (max-width: 1023px) {
  .footer__row {
    flex-direction: column;
  }
  .footer__wrap-logo {
    margin-bottom: 20px;
  }
  .footer__nav {
    margin-bottom: 20px;
  }
  .footer__subscribe-list {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__telegram {
    margin-bottom: 20px;
  }
  .footer__subscribe {
    margin-bottom: 20px;
  }
}