.completed {
    &__row-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__subheading {
        position: relative;

        font-weight: 700;
        font-size: 28px;
        line-height: 143%;

        color: $colorGarkBlue;

        padding-right: 80px;

        &::before {
            position: absolute;
            top: 10px;
            right: 40px;
            font-size: 22px;
        }

        &::after {
            position: absolute;
            top: 10px;
            right: 0;
            font-size: 22px;
        }
    }

    &__list-data {
        display: flex;
    }

    &__left-button {
    }

    &__left {
        position: relative;

        &::before {
            position: absolute;
            top: 4px;
            left: 0;
            font-size: 16px;
        }
    }

    &__wrap-month {
    }

    &__month {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;

        color: $colorGarkBlue;
        padding: 0 30px;
    }

    &__rigth-button {
    }

    &__rigth {
        position: relative;

        &::after {
            position: absolute;
            top: 4px;
            right: 0;
            font-size: 16px;
        }
    }

    &__year {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;

        color: $colorGrey;

        margin-left: 20px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -16px;
    }

    &__column {
        padding: 16px;
        flex: 0 1 33.3334%;
    }

    &__item {
        padding: 24px;
        background: #fff;
        border-radius: 24px;
        transition: all 0.3s ease 0s;

        height: 100%;
        display: flex;
        flex-direction: column;

        &:hover {
            box-shadow: 0px 4px 15px rgba(110, 133, 171, 0.15);
        }
    }

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 121%;

        color: $colorGrey;

        margin-bottom: 16px;
    }

    &__stack {
        display: flex;
        flex-wrap: wrap;
        margin: -4px -4px; // не работает )

        margin-bottom: 24px;
    }

    &__point {
        font-weight: 700;
        font-size: 14px;
        line-height: 143%;

        color: $colorGrey;

        padding: 5px 13.5px;
        border: 1px solid $colorGrey;
        border-radius: 87.7854px;

        margin: 2px;

        &:nth-child(1) {
            margin-left: 0;
        }
    }

    &__data-list {
        flex: 1 1 auto;
        margin-bottom: 24px;
    }

    &__data-point {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;

        color: $colorGrey;
    }

    &__data-info {
        font-size: 14px;
        line-height: 143%;

        color: $colorGrey;
    }

    &__wrap-company {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__name-company {
    }

    &__span-name {
        display: inline-block;
        margin-top: 5px;
        font-size: 20px;
        line-height: 150%;

        color: $colorGrey;
    }
}

@media (max-width: 1023px) {
    .completed {
        &__row {
            justify-content: center;
        }

        &__column {
            flex: 0 1 45%;
        }
    }
}

@media (max-width: 767px) {
    .completed {
        &__row-data {
            flex-direction: column;
        }

        &__subheading {
            margin-bottom: 20px;
        }

        &__column {
            flex: 0 1 80%;
        }
    }
}

@media (max-width: 425px) {
    .completed {
        &__column {
            flex: 0 1 100%;
        }

        &__subheading {
            font-size: 20px;

            &::before {
                top: 4px;
            }

            &::after {
                top: 4px;
            }
        }

        &__wrap-company {
            flex-direction: column;
        }

        &__name-company {
            margin-right: auto;
            margin-bottom: 50px;
        }
    }
}
