.page {
    flex: 1 1 auto;

    &__start {
        margin-bottom: 47px;
    }

    &__tickets {
        margin-bottom: 56px;
    }

    &__statistics {
        margin-bottom: 56px;
    }

    &__completed {
        margin-bottom: 56px;
    }
}
