.tickets {
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -16px;
    }

    &__column {
        padding: 16px;
        flex: 0 1 33.3334%;
    }

    &__item {
        padding: 24px;
        background: #fff;
        border-radius: 24px;
        transition: all 0.3s ease 0s;

        height: 100%;
        display: flex;
        flex-direction: column;

        &:hover {
            box-shadow: 0px 4px 15px rgba(110, 133, 171, 0.15);
        }
    }

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 121%;

        color: $colorGarkBlue;

        margin-bottom: 16px;
    }

    &__stack {
        display: flex;
        flex-wrap: wrap;
        margin: -4px -4px; // не работает )

        margin-bottom: 24px;
    }

    &__point {
        font-weight: 700;
        font-size: 14px;
        line-height: 143%;

        color: $colorBlue;

        padding: 5px 13.5px;
        border: 1px solid #38b5cf;
        border-radius: 87.7854px;

        margin: 2px;

        &:nth-child(1) {
            margin-left: 0;
        }
    }

    &__data-list {
        flex: 1 1 auto;
        margin-bottom: 24px;
    }

    &__data-point {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;

        color: $colorGarkBlue;
    }

    &__data-info {
        font-size: 14px;
        line-height: 143%;

        color: $colorGrey;
    }

    &__wrap-company {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__name-company {
        position: relative;

        padding-left: 52px;

        &::before {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;

            width: 40px;
            height: 40px;
            background: url("./../img/vk.png") 0 0 / contain no-repeat;
        }
    }

    &__wrap-button {
    }

    &__button {
    }

    &__item-shadow {
        padding: 24px 0 0 0;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 24px;
    }

    &__title-shadow {
        font-weight: 700;
        font-size: 28px;
        line-height: 121%;

        margin: 0 auto;
        text-align: center;
        max-width: 239px;

        color: rgba(110, 133, 171, 0.5);

        margin-bottom: 16px;
    }

    &__wrap-img-load {
        text-align: center;
    }

    &__wrap-load {
    }

    &__wrap-cartoon {
        text-align: right;
        margin-top: -30px;
    }

    &__cartoon {
    }
}

@media (max-width: 1023px) {
    .tickets {
        &__row {
        }

        &__column {
            // padding: 16px;
            flex: 0 1 45%;
        }

        &__item {
        }

        &__title {
        }

        &__stack {
        }

        &__point {
        }

        &__data-list {
        }

        &__data-point {
        }

        &__data-info {
        }

        &__wrap-company {
        }

        &__name-company {
        }

        &__wrap-button {
        }

        &__button {
        }

        &__item-shadow {
        }

        &__title-shadow {
        }

        &__wrap-img-load {
        }

        &__wrap-load {
        }

        &__wrap-cartoon {
        }

        &__cartoon {
        }
    }
}

@media (max-width: 767px) {
    .tickets {
        &__row {
        }

        &__column {
            // padding: 16px;
            flex: 0 1 80%;
        }

        &__item {
        }

        &__title {
        }

        &__stack {
        }

        &__point {
        }

        &__data-list {
        }

        &__data-point {
        }

        &__data-info {
        }

        &__wrap-company {
        }

        &__name-company {
        }

        &__wrap-button {
        }

        &__button {
        }

        &__item-shadow {
        }

        &__title-shadow {
        }

        &__wrap-img-load {
        }

        &__wrap-load {
        }

        &__wrap-cartoon {
        }

        &__cartoon {
        }
    }
}

@media (max-width: 425px) {
    .tickets {
        &__row {
        }

        &__column {
        }

        &__item {
        }

        &__title {
        }

        &__stack {
        }

        &__point {
        }

        &__data-list {
        }

        &__data-point {
        }

        &__data-info {
        }

        &__wrap-company {
            flex-direction: column;
        }

        &__name-company {
            margin-right: auto;
            margin-bottom: 50px;
        }

        &__wrap-button {
        }

        &__button {
        }

        &__item-shadow {
        }

        &__title-shadow {
        }

        &__wrap-img-load {
        }

        &__wrap-load {
        }

        &__wrap-cartoon {
        }

        &__cartoon {
        }
    }
}
